<nav>
  <a routerLink="/playground" routerLinkActive="active" ariaCurrentWhenActive="page">Playground OJP APIs</a> | Departures WebApp
</nav>

<hr/>

<h2>Departures</h2>

<div class="stop-info" *ngIf="this.renderModel.stop">{{ this.renderModel.stop.name }} ({{ this.renderModel.stop.id }})</div>

<table>
  <tr>
    <th>Service</th>
    <th class="description">Description</th>
    <th>Departure</th>
  </tr>
  <tr *ngFor="let departureRow of this.renderModel.departures">
    <td class="service">
      <div class="service-line">{{ departureRow.service.line }}</div>
      <div class="journey-number">{{ departureRow.journey.number }}</div>
    </td>
    <td>
      <div class="journey-from-to">{{ departureRow.journey.headingText }}</div>
      <div class="journey-stops">{{ departureRow.journey.stops }}</div>
    </td>
    <td class="time-cell">
      <div class="stop-time">{{ departureRow.departure.timeF }}</div>
      <div class="delay-text">{{ departureRow.departure.delayText }}</div>
    </td>
  </tr>
</table>
